.principal {
    /*padding: 0.5rem;*/
    width: 100%;
    border: 1px solid gray;
}

.rodape {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    background-color: #e3e3e3;
}