.principal {
    /*padding: 0.5rem;*/
    width: 100%;
    border: 1px solid #cacaca;;
    border-radius: 10px;

    background-color: rgba(91, 91, 91, 0.10);
}

.rodape {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    background-color: #ffffff6e;
}