.componente:hover {
    /*font-weight: 500; gera incomodo ao aumentar o tamanho do texto*/
    background-color: greenyellow;
}
.operador:hover {
  /*font-weight: 500; gera incomodo ao aumentar o tamanho do texto*/
  background-color: lightsalmon;
}
.parenteses-hover {
  /*font-weight: 500; gera incomodo ao aumentar o tamanho do texto*/
  background-color: cadetblue;
}

.expressao:hover {
    /*font-weight: 500; gera incomodo ao aumentar o tamanho do texto*/
    background-color: aqua;
}