<ng-template [ngIf]="itemExpressao.tipo === 'COMPONENTE'">
    <!--Exibem "FAL0214" ou "E/OU FAL0214" no inicio da expressão-->
    <span *ngIf="index === 0; else elseComponenteNaoPrimeiro"
        class="componente" [matTooltip]="itemExpressao.componente">{{getLabelTipoComponente(itemExpressao)}} </span>
    <ng-template #elseComponenteNaoPrimeiro>
        <span class="operador">{{itemExpressao.operador}} </span>
        <span class="componente" [matTooltip]="itemExpressao.componente">{{getLabelTipoComponente(itemExpressao)}} </span>
    </ng-template>
</ng-template>

<ng-template [ngIf]="itemExpressao.tipo === 'EXPRESSAO'">
    <!--Exibem "(" ou "E/OU (" no inicio da expressão-->
    <span #abreExpressao *ngIf="index === 0; else elseExpressaoNaoPrimeira" class="parenteses"
        (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
        [class]="destacarInicioFimExpressao?'parenteses-hover':''">&#40; </span>
    <ng-template #elseExpressaoNaoPrimeira>
        <span class="operador">{{itemExpressao.operador}} </span>
        <span #abreExpressao class="parenteses" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
            [class]="destacarInicioFimExpressao?'parenteses-hover':''">&#40; </span>
    </ng-template>

    <!--Exibe recursivamente os filhos-->
    <item-expressao *ngFor="let item of itemExpressao.children; let i = index" [itemExpressao]="item"
        [index]="i"></item-expressao>

    <!--Fecha parenteses-->
    <span #fechaExpressao class="parenteses" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
        [class]="destacarInicioFimExpressao?'parenteses-hover':''">&#41; </span>

</ng-template>